<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzm.majoryc.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.yzm.majoryc.DO.admin.RoleDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name,role,status
    </sql>
    <!--通过用户获取用户对应的角色-->
    <select id="getRoleByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_role
        WHERE id in (SELECT role_id from tb_user_role WHERE user_id=#{id})
    </select>
    <!--角色列表-->
    <select id="getRoleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_role
    </select>
</mapper>